---
import '../styles/global.css';
import { ClientRouter } from 'astro:transitions';
import type { SeoMeta } from '../types';
import SEO from '../components/SEO.astro';
import Header from '../components/layout/Header.astro';
import Footer from '../components/layout/Footer.astro';
import WhatsAppFloat from '../components/ui/WhatsAppFloat.astro';

interface Props {
  meta: SeoMeta;
}
const { meta } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://images.unsplash.com" />
    <meta name="generator" content={Astro.generator} />
    <SEO meta={meta} />
    <ClientRouter />
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
    <WhatsAppFloat transition:persist />

    <script>
      import '../scripts/animations';
    </script>
  </body>
</html>
